flask
gunicorn
requests
scikit-learn==0.23.1
pandas
numpy
geopandas
osmnx
shapely
rtree
pyproj
rasterio
rio-cogeo
folium
fiona
fastapi
uvicorn
streamlit
contextily
mapclassify
mercantile























